.btn.icon
  display: flex
  align-items: center
  justify-content: center
  background-color: transparent
  border: none
  outline: none
  padding: 15px
  cursor: pointer
  text-decoration: none
  line-height: 1.25
  i
    color: #777777
  &:hover
    i
      color: #404040
