.head-menu
  display: flex
  position: fixed
  width: 100%
  height: 70px
  background-color: white
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2)


.head-menu-left
  display: flex
  justify-content: space-between
  align-items: center
  flex-shrink: 0
  width: 50px
  padding: 16px
  background-color: #D01C1C
  transition: all 300ms linear
  .main-title
    display: none
    color: white
    font-family: Sanuk-Medium, sans-serif
    font-size: 22px

.toggle-aside-btn
  cursor: pointer
  i
    font-size: 18px
    color: white

.head-menu-left.wide
  width: 320px
  @media only screen and (max-width: 415px)
    width: 100%
  .main-title
    display: block

.head-menu-right
  display: flex
  align-items: center
  width: 100%
  padding: 16px
  .search-form
    display: flex
    width: 100%
    input
      width: 100%
      border: none
      padding: 12px 0px
      font-family: "sanuk-regular", sans-serif
      outline: none
      &::-webkit-input-placeholder
        font-family: "sanuk-regular", sans-serif
        font-style: italic
      &::-moz-placeholder
        font-family: "sanuk-regular", sans-serif
        font-style: italic
      &:-ms-input-placeholder
        font-family: "sanuk-regular", sans-serif
        font-style: italic
      &:-moz-placeholder
        font-family: "sanuk-regular", sans-serif
        font-style: italic
    @media only screen and (max-width: 500px)
        display: none

.divider-menu
  flex-shrink: 0
  background-color: #707070
  display: inline-block
  width: 1px
  height: 100%
  opacity: .2
  margin: 0 10px