@import url(normalize.css);
@font-face {
  font-family: "sanuk-black";
  src: url("../fonts/sanuk-black.eot");
  src: url("../fonts/sanuk-black.eot?#iefix") format("embedded-opentype"), url("../fonts/sanuk-black.woff2") format("woff2"), url("../fonts/sanuk-black.woff") format("woff"), url("../fonts/sanuk-black.ttf") format("truetype"), url("../fonts/sanuk-black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sanuk-bold";
  src: url("../fonts/sanuk-bold.eot");
  src: url("../fonts/sanuk-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sanuk-bold.woff2") format("woff2"), url("../fonts/sanuk-bold.woff") format("woff"), url("../fonts/sanuk-bold.ttf") format("truetype"), url("../fonts/sanuk-bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sanuk-light";
  src: url("../fonts/sanuk-light.eot");
  src: url("../fonts/sanuk-light.eot?#iefix") format("embedded-opentype"), url("../fonts/sanuk-light.woff2") format("woff2"), url("../fonts/sanuk-light.woff") format("woff"), url("../fonts/sanuk-light.ttf") format("truetype"), url("../fonts/sanuk-light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sanuk-medium";
  src: url("../fonts/sanuk-medium.eot");
  src: url("../fonts/sanuk-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sanuk-medium.woff2") format("woff2"), url("../fonts/sanuk-medium.woff") format("woff"), url("../fonts/sanuk-medium.ttf") format("truetype"), url("../fonts/sanuk-medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sanuk-regular";
  src: url("../fonts/sanuk-regular.eot");
  src: url("../fonts/sanuk-regular.eot#iefix") format("embedded-opentype"), url("../fonts/sanuk-regular.woff2") format("woff2"), url("../fonts/sanuk-regular.woff") format("woff"), url("../fonts/sanuk-regular.ttf") format("truetype"), url("../fonts/sanuk-regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "sanuk-thin";
  src: url("../fonts/sanuk-thin.eot");
  src: url("../fonts/sanuk-thin.eot#iefix") format("embedded-opentype"), url("../fonts/sanuk-thin.woff2") format("woff2"), url("../fonts/sanuk-thin.woff") format("woff"), url("../fonts/sanuk-thin.ttf") format("truetype"), url("../fonts/sanuk-thin.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
button.btn.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  padding: 15px;
  cursor: pointer; }
  button.btn.icon i {
    color: #777777; }
  button.btn.icon:hover i {
    color: #404040; }

.sidebar {
  position: fixed;
  width: 50px;
  height: 100%;
  background-color: #777777;
  transition: all 300ms linear; }
  .sidebar .h1 {
    display: none; }
  .sidebar .aside-menu-item-name {
    display: none; }

.sidebar.active {
  width: 320px; }
  .sidebar.active .h1 {
    display: block; }
  .sidebar.active .aside-menu-item-name {
    display: inline-block;
    position: absolute; }

.sidebar .toggle-btn i {
  font-size: 18px;
  color: white; }

.aside-menu-header {
  background-color: #D01C1C;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  align-items: center;
  color: white;
  font-family: Sanuk-Medium, sans-serif;
  font-size: 22px; }

.aside-menu {
  overflow-y: scroll;
  height: 100%; }
  .aside-menu .aside-menu-item {
    position: relative; }
    .aside-menu .aside-menu-item .active-arrow {
      display: none;
      position: absolute;
      right: 5px;
      top: 18px; }
    .aside-menu .aside-menu-item a {
      font-size: 15px;
      text-decoration: none;
      color: white;
      display: block;
      padding: 16px 10px;
      border-left: solid 6px transparent; }
      .aside-menu .aside-menu-item a i {
        margin-right: 10px; }
      .aside-menu .aside-menu-item a:hover {
        border-left: solid 6px #D01C1C;
        font-family: Sanuk-Bold, sans-serif;
        background-color: #818181; }
        .aside-menu .aside-menu-item a:hover .active-arrow {
          display: block; }
  .aside-menu .aside-menu-item.active a {
    background-color: #818181;
    font-family: Sanuk-Bold, sans-serif;
    border-left: solid 6px #D01C1C; }
  .aside-menu .aside-menu-item.active .active-arrow {
    display: block; }

.aside-menu-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #80BC00;
  height: 35px; }
  .aside-menu-footer .stea-logo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 35px;
    border-right: 5px solid #777777; }
  .aside-menu-footer .version-app {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    padding: 10px;
    width: 100%;
    color: white;
    font-size: 10px;
    font-family: Sanuk-Medium, sans-serif;
    text-transform: uppercase; }

.head-menu {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 15px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2); }
  .head-menu .search-form {
    display: flex;
    width: 100%; }
    .head-menu .search-form input {
      width: 100%;
      border: none;
      padding: 12px 5px;
      font-family: "sanuk-regular", sans-serif; }
      .head-menu .search-form input::-webkit-input-placeholder {
        font-family: "sanuk-regular", sans-serif;
        font-style: italic; }
      .head-menu .search-form input::-moz-placeholder {
        font-family: "sanuk-regular", sans-serif;
        font-style: italic; }
      .head-menu .search-form input:-ms-input-placeholder {
        font-family: "sanuk-regular", sans-serif;
        font-style: italic; }
      .head-menu .search-form input:-moz-placeholder {
        font-family: "sanuk-regular", sans-serif;
        font-style: italic; }
  .head-menu .divider {
    background-color: #707070;
    display: inline-block;
    width: 1px;
    height: 100%;
    opacity: 0.2;
    margin: 0 10px; }
  .head-menu .icons-menu {
    display: flex; }

/* Dropdown Button */
.dropbtn {
  font-family: "sanuk-regular", sans-serif;
  color: #777777;
  border: none;
  cursor: pointer;
  outline: none; }
  .dropbtn i {
    padding: 15px; }

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  color: #404040; }

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  flex-shrink: 0; }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1; }

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block; }

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd; }

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block; }

div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "sanuk-regular", sans-serif;
  line-height: 1.25;
  font-size: 14px;
  background-color: #DDDDDD; }

.main {
  margin-left: 50px;
  transition: all 300ms linear; }

.main.active {
  margin-left: 320px;
  transition: all 300ms linear; }

/*# sourceMappingURL=main.css.map */
