@import "normalize.css"
@import "fonts"
@import "buttons"
@import "aside"
@import "_head-menu"
@import "dropdown"


div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea
  padding: 0
  margin: 0
  list-style: none

*
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box

body
  padding: 0
  margin: 0
  font-family: 'sanuk-regular', sans-serif
  line-height: 1.25
  font-size: 14px
  background-color: #DDDDDD




.main
  padding: 20px
  margin-left: 50px
  transition: all 300ms linear

.main.active
  margin-left: 320px
  transition: all 300ms linear

.content-main
  margin-top: 70px
  p
    font-size: 16px
    margin-bottom: 16px